
.rootHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* o 100vh si quieres que ocupe toda la altura de la ventana */
}

.bodyHome {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Esto separa la presentación y la imagen */
    width: 80%; /* Ajusta al tamaño que prefieras */
    max-width: 1200px; /* También puedes limitar el ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.presentacion {
    max-width: 60%; /* Ajusta según el espacio que quieras dar a la presentación */
}

.presentacion h1 {
    margin-bottom: 0.5em; /* Espacio debajo del h1 para separarlo del h3 */
    font-size: 3rem;
}

.presentacion h3 {
    font-weight: 400; /* Esto hace que la fuente sea más delgada y ligera */
    font-size: 2rem; /* Ajusta el tamaño de la fuente a tu gusto */
    line-height: 1.5; /* Aumenta el espacio entre líneas para una mejor legibilidad */
    color: #424242; /* Un color más suave para el texto */
    margin-top: 0; /* Elimina cualquier margen superior para unirlo más al h1 */
    margin-bottom: 0.5em; /* Espacio debajo del h3 */
}

.proyectosHome {
    padding: 10px 20px;
    margin-top: 20px; /* Espacio por encima del botón */
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    background-color: #2ca6a4; /* Color del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
}

.proyectosHome:hover {
    background-color:#37dad9; /* Color más oscuro al pasar el ratón por encima */
    color: #424242;
}

.image-container {
    /* La margin-right puede no ser necesaria si usas justify-content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 250px; /* ajusta el tamaño según tus necesidades */
    height: auto; /* para mantener la proporción */
    border-radius: 50%; /* para una imagen de perfil redonda */
    border: #1884a4 4px solid;
    transition: transform 0.3s ease; /* transición suave al escalar */
}

/* Media queries para responsividad */

@media (max-width: 768px) {
    /* Para tabletas y dispositivos más pequeños */
    .bodyHome {
        flex-direction: column; /* Cambia la dirección de fila a columna */
    }

    .presentacion {
        order: 1;
        max-width: 90%; /* Ajusta para utilizar más espacio disponible */
        text-align: center; /* Centra el texto para mejor visualización en pantallas pequeñas */
    }

    .presentacion h1, .presentacion h3 {
        font-size: calc(1.4rem + 0.5vw); /* Ajusta el tamaño de la fuente de manera dinámica */
    }

    .profile-image {
        order: 2;
        width: 200px; /* Reducción del tamaño de la imagen para adaptarse a pantallas más pequeñas */
    }

}

@media (max-width: 480px) {
    /* Para teléfonos móviles */
    .rootHome {
        height: auto; /* Cambia la altura para adaptarse al contenido */
        padding: 20px 0; /* Agrega algo de espacio alrededor para no tocar los bordes */
    }

    .bodyHome {
        width: 95%; /* Utiliza más espacio disponible */
    }

    .presentacion {
        max-width: 100%; /* Usa todo el ancho disponible */
        order: 1;
    }

    .presentacion h1, .presentacion h3 {
        font-size: calc(1.2rem + 0.5vw); /* Más pequeño para dispositivos móviles */
    }

    .profile-image {
        order: 2;
        width: 180px; /* Más pequeña para teléfonos */
    }

    .proyectosHome{
        font-size: 1rem;
        margin: 10px;
    }
}

